<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="http://theawesometester.com/">The Complete Ruby on Rails Developer</a>
      by <a href="http://theawesometester.com/">Austin Finn</a>
    </small>
    <small>
      <p align="center"><%= link_to "About", about_path %> | <%= link_to "Home", root_path %></p>
    </small>
  </footer>
  </div>